body {
  background-color: darkblue;
  color: white;
  text-align: center;
}

.fieldset_container {
  display: inline-block;
  background-color: white;
}

fieldset {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 20px;
}

#name_output_fieldset {
  display: block;
  margin-top: 30px;
  padding: 5px;
  position: absolute;
  left: 10%;
  width: 39%;
}

#task_output_fieldset {
  display: block;
  margin-top: 30px;
  padding: 5px;
  position: absolute;
  right: 10%;
  width: 39%;
}

input {
  height: 23px;
}

#saveNameBtn, #saveTaskBtn {
  font-weight: bold;
  color: green;
  height: 30px;
}

#clearBtn {
  font-weight: bold;
  color: red;
  height: 30px;
  width: 125px;
}

.output_card {
  border: solid 1px grey;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 10px;
}
